@charset "utf-8";

/***********************************************************************
* 업무 : 관리자
***********************************************************************/

/*======================================================
 - 공통
 ======================================================*/
a:link {
	color: #666666;
	text-decoration: none;
}

a:visited {
	color: #666666;
	text-decoration: none;
}

a:active {
	color: #666666;
	text-decoration: none;
}

a:hover {
	color: #666666;
	text-decoration: none;
}

body {
	scrollbar-base-color: #FFFFFF;
	scrollbar-face-color: #FFFFFF;
	scrollbar-arrow-color: #AAAAAA;
	scrollbar-shadow-color: #AAAAAA;
	scrollbar-highlight-color: #AAAAAA;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
}

body,td {
	font-family: 돋움, Dotum, AppleGothic, sans-serif;
	font-size: 12px;
	color: #666666;
	line-height: 130%;
	margin-left: 10;
	margin-top: 0;
	word-wrap: break-word;
}

th {
	font-family: 돋움, Dotum, AppleGothic, sans-serif;
	font-size: 12px;
	color: #666666;
	line-height: 130%;
	margin-left: 10;
	margin-top: 0;
	word-wrap: break-word;
	font-weight: bold;
	text-align: center;
}

form {
	margin: 0;
	display: inline;
}

img {
	border: 0;
	vertical-align: top;
	display: inline-block;
}

.page * {
	vertical-align: middle;
	display: inline;
}

label {
	font-family: 돋움, verdana, arial, helvetica, sans-serif;
	font-size: 11px;
}

label.error {
	float: none;
	color: red;
	padding-left: 16px;
	padding-top: 1px;
}

/*======================================================
 - 메뉴관련
 ======================================================*/
.menu {
	font-family: "돋움";
	color: #FFFFFF;
	font-size: 11px;
	vertical-align: middle;
}

.menu :link {
	color: #FFFFFF;
	text-decoration: none;
}

.menu :visited {
	color: #FFFFFF;
	text-decoration: none;
}

.menu :active {
	color: #FFFFFF;
	text-decoration: none;
}

.menu :hover {
	color: #FFFFFF;
	text-decoration: none;
}

/*======================================================
 - 서비스메뉴링크
 ======================================================*/
.toplink {
	font-size: 11px;
	font-style: normal;
	color: #666666;
	text-align: right;
	height: 18px;
}

.toplink :link {
	font-size: 11px;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	color: #666666;
	text-align: right;
	height: 18px;
}

.toplink :visited {
	font-size: 11px;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	color: #666666;
	text-align: right;
	height: 18px;
}

.toplink :active {
	font-size: 11px;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	color: #666666;
	text-align: right;
	height: 18px;
}

.toplink :hover {
	font-size: 11px;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	color: #E2661B;
	text-align: right;
	height: 18px;
}

.topname {
	font-size: 11px;
	font-style: normal;
	color: #537BC6;
	text-align: right;
}

.topname :link {
	font-size: 11px;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	color: #537BC6;
	text-align: right;
}

.topname :visited {
	font-size: 11px;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	color: #537BC6;
	text-align: right;
}

.topname :active {
	font-size: 11px;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	color: #537BC6;
	text-align: right;
}

.topname :hover {
	font-size: 11px;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	color: #0D57FF;
	text-align: right;
}

.topname_admin {
	font-size: 11px;
	font-style: normal;
	color: #D25D1E;
	text-align: right;
}

.topname_admin :link {
	font-size: 11px;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	color: #D25D1E;
	text-align: right;
}

.topname_admin :visited {
	font-size: 11px;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	color: #D25D1E;
	text-align: right;
}

.topname_admin :active {
	font-size: 11px;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	color: #D25D1E;
	text-align: right;
}

.topname_admin :hover {
	font-size: 11px;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	color: #FF600A;
	text-align: right;
}

/*======================================================
 - 메뉴 링크 
 ======================================================*/
/*1*/
.left_first {
	font-family: "돋움";
	font-size: 12px;
	color: #256E7C;
	vertical-align: middle;
	height: 18px;
}

.left_first :link {
	font-family: "돋움";
	font-size: 12px;
	color: #256E7C;
	text-decoration: none;
}

.left_first :visited {
	font-family: "돋움";
	font-size: 12px;
	color: #256E7C;
	text-decoration: none;
}

.left_first :active {
	font-family: "돋움";
	font-size: 12px;
	color: #256E7C;
	text-decoration: none;
}

.left_first :hover {
	font-family: "돋움";
	font-size: 12px;
	color: #30AAC1;
	text-decoration: none;
}

/*2*/
.left_second {
	font-family: "돋움";
	font-size: 12px;
	color: #6F8635;
	vertical-align: middle;
	height: 18px;
}

.left_second :link {
	font-family: "돋움";
	font-size: 12px;
	color: #6F8635;
	text-decoration: none;
}

.left_second :visited {
	font-family: "돋움";
	font-size: 12px;
	color: #6F8635;
	text-decoration: none;
}

.left_second :active {
	font-family: "돋움";
	font-size: 12px;
	color: #6F8635;
	text-decoration: none;
}

.left_second :hover {
	font-family: "돋움";
	font-size: 12px;
	color: #A1C93D;
	text-decoration: none;
}

/*3*/
.left_third {
	font-family: "돋움";
	font-size: 12px;
	color: #5E5EB2;
	vertical-align: middle;
	height: 18px;
}

.left_third :link {
	font-family: "돋움";
	font-size: 12px;
	color: #5E5EB2;
	text-decoration: none;
}

.left_third :visited {
	color: #5E5EB2;
	text-decoration: none;
}

.left_third :active {
	color: #5E5EB2;
	text-decoration: none;
}

.left_third :hover {
	color: #9F9FFF;
	text-decoration: none;
}

/*4*/
.left_fourth {
	font-family: "돋움";
	font-size: 12px;
	color: #D86815;
	vertical-align: middle;
	height: 18px;
}

.left_fourth :link {
	font-family: "돋움";
	font-size: 12px;
	color: #D86815;
	text-decoration: none;
}

.left_fourth :visited {
	font-family: "돋움";
	font-size: 12px;
	color: #D86815;
	text-decoration: none;
}

.left_fourth :active {
	font-family: "돋움";
	font-size: 12px;
	color: #D86815;
	text-decoration: none;
}

.left_fourth :hover {
	color: #FF9D55;
	text-decoration: none;
}

/*5*/
.left_fifth {
	font-family: "돋움";
	font-size: 12px;
	color: #2B53B0;
	vertical-align: middle;
	height: 18px;
}

.left_fifth :link {
	font-family: "돋움";
	font-size: 12px;
	color: #2B53B0;
	text-decoration: none;
}

.left_fifth :visited {
	font-family: "돋움";
	font-size: 12px;
	color: #2B53B0;
	text-decoration: none;
}

.left_fifth :active {
	font-family: "돋움";
	font-size: 12px;
	color: #2B53B0;
	text-decoration: none;
}

.left_fifth :hover {
	font-family: "돋움";
	font-size: 12px;
	color: #7BA3FF;
	text-decoration: none;
}

/*6*/
.left_sixth {
	font-family: "돋움";
	font-size: 12px;
	color: #2B53B0;
	vertical-align: middle;
	height: 18px;
}

.left_sixth :link {
	font-family: "돋움";
	font-size: 12px;
	color: #2B53B0;
	text-decoration: none;
}

.left_sixth :visited {
	font-family: "돋움";
	font-size: 12px;
	color: #2B53B0;
	text-decoration: none;
}

.left_sixth :active {
	font-family: "돋움";
	font-size: 12px;
	color: #2B53B0;
	text-decoration: none;
}

.left_sixth :hover {
	font-family: "돋움";
	font-size: 12px;
	color: #7BA3FF;
	text-decoration: none;
}

/*7*/
.left_seventh {
	font-family: "돋움";
	font-size: 12px;
	color: #5E5EB2;
	vertical-align: middle;
	height: 18px;
}

.left_seventh :link {
	color: #5E5EB2;
	text-decoration: none;
}

.left_seventh :visited {
	color: #5E5EB2;
	text-decoration: none;
}

.left_seventh :active {
	color: #5E5EB2;
	text-decoration: none;
}

.left_seventh :hover {
	color: #9F9FFF;
	text-decoration: none;
}

/*======================================================
 - left menu 세로구분라인
 ======================================================*/
.layout_res {
	background-image: url(../image/main/left_bg_res.gif);
	background-repeat: repeat-y;
	height: 100%
}

.layout_obs {
	background-image: url(../image/main/left_bg_obs.gif);
	background-repeat: repeat-y;
	height: 100%
}

.layout_act {
	background-image: url(../image/main/left_bg_act.gif);
	background-repeat: repeat-y;
	height: 100%
}

.layout_exe {
	background-image: url(../image/main/left_bg_exe.gif);
	background-repeat: repeat-y;
	height: 100%
}

.layout_sce {
	background-image: url(../image/main/left_bg_sce.gif);
	background-repeat: repeat-y;
	height: 100%
}

.layout_com {
	background-image: url(../image/main/left_bg_com.gif);
	background-repeat: repeat-y;
	height: 100%
}

.layout_trng {
	background-image: url(../image/main/left_bg_trng.gif);
	background-repeat: repeat-y;
	height: 100%
}

/*======================================================
 - 이미지
 ======================================================*/
img {
	border: none
}

/*======================================================
 - 상단경로표시 / 목록 페이지리스트
 ======================================================*/

/*타이틀로케이션*/
.location01 {
	font-size: 8pt;
	font-style: normal;
	color: #333333;
	text-align: right;
	padding-right: 2px;
	padding-bottom: 1px;
	vertical-align: bottom;
	height: 16px;
}

.location01 :link {
	font-size: 8pt;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	color: #333333;
	text-align: right;
	padding-right: 2px;
	padding-bottom: 1px;
	vertical-align: bottom;
	height: 16px;
}

.location01 :visited {
	font-size: 8pt;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	color: #333333;
	text-align: right;
	padding-right: 2px;
	padding-bottom: 1px;
	vertical-align: bottom;
	height: 16px;
}

.location01 :active {
	font-size: 8pt;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	color: #333333;
	text-align: right;
	padding-right: 2px;
	padding-bottom: 1px;
	vertical-align: bottom;
	height: 16px;
}

.location01 :hover {
	font-size: 8pt;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	color: #FF8233;
	text-align: right;
	padding-right: 2px;
	padding-bottom: 1px;
	vertical-align: bottom;
	height: 16px;
}

/*페이지리스트*/
.location02 {
	font-family: "돋움";
	font-size: 8pt;
	text-decoration: none;
	line-height: 30px;
	color: #898989;
	word-spacing: 4px;
	text-align: center;
	vertical-align: middle;
}

.location02 :link {
	font-family: "돋움";
	font-size: 8pt;
	text-decoration: none;
	line-height: 30px;
	color: #898989;
	word-spacing: 4px;
	text-align: center;
	vertical-align: middle;
}

.location02 :visited {
	font-family: "돋움";
	font-size: 8pt;
	text-decoration: none;
	line-height: 30px;
	color: #898989;
	word-spacing: 4px;
	text-align: center;
	vertical-align: middle;
}

.location02 :active {
	font-family: "돋움";
	font-size: 8pt;
	text-decoration: underline;
	line-height: 30px;
	color: #898989;
	word-spacing: 4px;
	text-align: center;
	vertical-align: middle;
}

.location02 :hover {
	font-family: "돋움";
	font-size: 8pt;
	text-decoration: underline;
	line-height: 30px;
	color: #898989;
	word-spacing: 4px;
	text-align: center;
	vertical-align: middle;
}

/*총건수*/
.count {
	font-family: "돋움";
	font-size: 8pt;
	color: #EC8D11;
	font-weight: bold;
}

/*======================================================
 - 달력
 ======================================================*/
.in_cal {
	font-size: 12px;
	color: #444995;
	border-width: 1px;
	border-color: #FFFFFF;
	border-style: solid;
	font-weight: bold;
	height: 18px;
	text-align: center;
}

.in_cal_combo {
	font-size: 11px;
	color: #444995;
	border-width: 1px;
	border-color: #C1C1C1;
	border-style: solid;
	height: 18px;
}

.sun {
	font-family: "돋움";
	font-size: 11px;
	font-style: normal;
	color: #E70715;;
	text-align: center;
	line-height: 18px;
}

.sun :link {
	text-decoration: none;
	color: #E70715;
	font-weight: normal;
	text-align: center;
}

.sun :visited {
	text-decoration: none;
	color: #E70715;
	font-weight: normal;
	text-align: center;
}

.sun :active {
	text-decoration: none;
	color: #E70715;
	font-weight: bold;
	text-align: center;
	background-color: #CCDDEE;
}

.sun :hover {
	text-decoration: none;
	color: #E70715;
	font-weight: normal;
	text-align: center;
	background-color: #CCDDEE;
}

.sat {
	font-family: "돋움";
	font-size: 11px;
	font-style: normal;
	color: #444995;;
	text-align: center;
	line-height: 18px;
}

.sat :link {
	text-decoration: none;
	color: #444995;
	font-weight: normal;
	text-align: center;
}

.sat :visited {
	text-decoration: none;
	color: #444995;
	font-weight: normal;
	text-align: center;
}

.sat :active {
	text-decoration: none;
	color: #444995;
	font-weight: bold;
	text-align: center;
	background-color: #CCDDEE;
}

.sat :hover {
	text-decoration: none;
	color: #444995;
	font-weight: normal;
	text-align: center;
	background-color: #CCDDEE;
}

.day {
	font-family: "돋움";
	font-size: 11px;
	font-style: normal;
	color: #333333;;
	text-align: center;
	line-height: 18px;
}

.day :link {
	text-decoration: none;
	color: #333333;
	font-weight: normal;
	text-align: center;
}

.day :visited {
	text-decoration: none;
	color: #333333;
	font-weight: normal;
	text-align: center;
}

.day :active {
	text-decoration: none;
	color: #333333;
	font-weight: bold;
	text-align: center;
	background-color: #CCDDEE;
}

.day :hover {
	text-decoration: none;
	color: #333333;
	font-weight: normal;
	text-align: center;
	background-color: #CCDDEE;
}

/*======================================================
 - Table - 공통(Input)
 ======================================================*/
/* input 기본/중앙/오른쪽 정렬 */
.in {
	font-family: "돋움", arial;
	font-size: 12px;
	color: #74593D;
	border-width: 1px;
	border-color: #C1C1C1;
	border-style: solid;
}

.in_center {
	font-family: "돋움", arial;
	font-size: 12px;
	color: #74593D;
	border-width: 1px;
	border-color: #C1C1C1;
	border-style: solid;
	text-align: center;
}

.in_right {
	font-family: "돋움", arial;
	font-size: 12px;
	color: #74593D;
	border-width: 1px;
	border-color: #C1C1C1;
	border-style: solid;
	text-align: right;
}

.in_search {
	font-family: "돋움", arial;
	font-size: 12px;
	color: #666666;
	border-width: 1px;
	border-color: #F5F2EE;
	border-style: solid;
	background-color: #F5F2EE;
}

.search_td {
	font-family: "돋움", arial;
	font-size: 12px;
	color: #666666;
	vertical-align: top;
}

/* input 기본/중앙/오른쪽 정렬_ Disable */
.in_readonly {
	font-family: "돋움", arial;
	font-size: 12px;
	color: #74593D;
	border-width: 1px;
	border-color: #C1C1C1;
	border-style: solid;
	background-color: #EAEAEA
}

.in_center_readonly {
	font-family: "돋움", arial;
	font-size: 12px;
	color: #74593D;
	border-width: 1px;
	border-color: #C1C1C1;
	border-style: solid;
	text-align: center;
	background-color: #EAEAEA
}

.in_right_readonly {
	font-family: "돋움", arial;
	font-size: 12px;
	color: #74593D;
	border-width: 1px;
	border-color: #C1C1C1;
	border-style: solid;
	text-align: right;
	background-color: #EAEAEA
}

/********* TextArea Input ( 가로 97% ) ***********/
.in_area {
	font-family: "돋움", arial;
	color: #74593D;
	width: 97%;
	line-height: 21px;
	border: 1px solid #C1C1C1;
	background-color: transparent;
	padding: 3px 3px 3px 3px;
	word-break: break-all;
}

.in_area01 {
	font-family: "돋움", arial;
	color: #74593D;
	width: 90%;
	line-height: 21px;
	border: 1px solid #C1C1C1;
	background-color: transparent;
	padding: 3px 3px 3px 3px;
	word-break: break-all;
}

.in_area02 {
	font-family: "돋움", arial;
	color: #74593D;
	width: 80%;
	line-height: 21px;
	border: 1px solid #C1C1C1;
	background-color: transparent;
	padding: 3px 3px 3px 3px;
	word-break: break-all;
}

.in_area03 {
	font-family: "돋움", arial;
	color: #74593D;
	width: 60%;
	line-height: 21px;
	border: 1px solid #C1C1C1;
	background-color: transparent;
	padding: 3px 3px 3px 3px;
	word-break: break-all;
}

.in_01 {
	font-family: "돋움", arial;
	font-size: 12px;
	color: #74593D;
	border-width: 1px;
	border-color: #C1C1C1;
	border-style: solid;
	width: 97%;
	word-break: break-all;
}

/*******************************************************
 * Table - 공통(상 하 구분 라인 등 )
 *******************************************************/
.h {
	height: 35px text-align : center;
} /*데이터가없을때*/
.list1 {
	background-color: #FFFFFF
} /*색깔별로 묶지않는 라인*/
.list2 {
	background-color: #F2EFE8
} /*색깔별로 묶은라인*/
.list_total {
	background-color: #F3F3F3
} /*색깔별로 묶은라인--총계*/
.mouseover {
	background-color: #F3F3F3
} /*onMouseOver*/
.line1 {
	background-color: #6A97D5;
	height: 2px
}

.line1_1 {
	background-color: #6A97D5;
	height: 1px
}

.line2 {
	background-color: #CCCCCC;
	height: 1px
}

.line3 {
	background-image: url(../../images/ext/img_tbg.gif);
	height: 4px;
}

/* 회색테이블용라인 */
.line_n1 {
	background-color: #B7B6B6;
	height: 2px
}

.line_n2 {
	background-color: #CCCCCC;
	height: 1px
}

.line_n3 {
	background-image: url(../../images/ext/img_tbg.gif);
	height: 4px;
}

/*테이블-타이틀*/
.tit {
	height: 20px;
	font-weight: bold;
	vertical-align: middle;
	text-align: left;
}

.tit_s {
	height: 20px;
	vertical-align: middle;
	text-align: left;
	padding-left: 15px;
}

/*======================================================
 - Table  - 목록
 ======================================================*/
.head_none {
	height: 28px;
	background-color: #D9E3F2;
	color: #3C5787;
	text-align: center;
	padding-top: 4px;
}

.head {
	height: 28px;
	background-color: #D9E3F2;
	color: #3C5787;
	text-align: center;
	border-left: 1px solid #CCCCCC;
	padding-top: 4px;
}

.head2_none {
	height: 25px;
	background-color: #E4ECF7;
	color: #666666;
	text-align: center;
}

.head2 {
	height: 25px;
	background-color: #E4ECF7;
	color: #666666;
	text-align: center;
	border-left: 1px solid #CCCCCC;
}

.td_none {
	height: 25px;
	text-align: center;
	padding-left: 3px;
	text-align: left;
}

.td_none_center {
	height: 25px;
	text-align: center;
}

.td_none_right {
	height: 25px;
	text-align: right;
}

.td {
	height: 25px;
	border-left: 1px solid #CCCCCC;
	padding-left: 3px;
	text-align: left;
}

.td_center {
	height: 25px;
	border-left: 1px solid #CCCCCC;
	text-align: center;
}

.td_right {
	height: 25px;
	border-left: 1px solid #CCCCCC;
	text-align: right;
	padding-right: 3px;
}

/*======================================================
 - Table - 입력 및 상세
 ======================================================*/
.boldtd_none {
	height: 28px;
	background-color: #D8E3F1;
	color: #666666;
	padding-left: 5px;
}

.boldtd {
	background-color: #D8E3F1;
	height: 28px;
	color: #666666;
	border-left: 1px solid #CCCCCC;
	padding-left: 5px;
	text-align: left;
}

.boldtd2_none {
	height: 25px;
	background-color: #E4ECF7;
	color: #666666;
	padding-left: 5px;
}

.boldtd2 {
	background-color: #E4ECF7;
	height: 25px;
	color: #666666;
	border-left: 1px solid #CCCCCC;
	padding-left: 5px;
	text-align: left;
}

/*======================================================
 - Table - 추가(공통테이블) -입력,목록상단
 ======================================================*/
.head_none_n {
	height: 28px;
	background-color: #EEEEF0;
	color: #5F5F5F;
	text-align: center;
	padding-top: 4px;
}

.head_n {
	height: 28px;
	background-color: #EEEEF0;
	color: #5F5F5F;
	text-align: center;
	border-left: 1px solid #CECECE;
	padding-top: 4px;
}

.head2_none_n {
	height: 25px;
	line-height: 18px;
	background-color: #EEEEF0;
	color: #333333;
	text-align: center;
}

.head2_n {
	height: 25px;
	background-color: #EEEEF0;
	color: #333333;
	text-align: center;
	border-left: 1px solid #CECECE;
}

.boldtd_none_n {
	height: 28px;
	background-color: #EEEEF0;
	color: #333333;
	padding-left: 5px;
}

.boldtd_n {
	background-color: #EEEEF0;
	height: 28px;
	color: #333333;
	border-left: 1px solid #CECECE;
	padding-left: 5px;
	text-align: left;
}

/* 이미지 하단 설명글 */
.imgCaption {
	PADDING-BOTTOM: 0px;
	BACKGROUND-COLOR: #666666;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
	margin-top: -10px;
	font-family: 돋움, Dotum, AppleGothic, sans-serif;
	font-size: 10px;
	color: #ffffff;
	font-weight: bold;
}


@font-face {
font-family :ns;
src: url('/fur_frt/common/font/NanumGothic.eot');  
src: local(※), url('/fur_frt/common/font/NanumGothic.woff') format('woff');
}

.nanum {font-family:'Nanum Gothic', '나눔고딕',ns;}
