@charset "utf-8";

/* 차트 범례 */
.chartLegend1 tbody th { height:20px; text-align:left; border-bottom:1px dotted #CCCCCC; }
.chartLegend1 tbody td { height:20px; text-align:right; border-bottom:1px dotted #CCCCCC; }
.chartLegend1 tfoot th { height:20px; text-align:left; }
.chartLegend1 tfoot td { height:20px; text-align:right; }

/* 세로줄 없는 기본 스타일 */
.table1 thead th { border-top:1px solid #AFAFAF; border-bottom:1px solid #AFAFAF; background:#F0EEDE; height:25px; }
.table1 tbody th { border-top:1px solid #AFAFAF; border-bottom:1px solid #AFAFAF; background:#F0EEDE; height:25px; }
.table1 tbody td { border-bottom:1px solid #EBEBEB; height:25px; }
.table1 tfoot td { border-bottom:1px solid #AFAFAF; background:#FAFAFA; height:25px; }

/* 차트 보기 */
.table2 tbody th { text-align:left; border-bottom:1px dotted #EBEBEB; }
.table2 tbody td { text-align:right; border-bottom:1px dotted #EBEBEB; }

.table3 th, .table3 td { padding: 5px; }
.table3 thead th { border:1px solid #C9C9C9; color:#000000; background:#F0EEDE;font-weight:normal;text-align:center }
.table3 tbody th { border:1px solid #C9C9C9; color:#000000; background:#F0EEDE;font-weight:normal;text-align:center }
.table3 tbody td { border:1px solid #C9C9C9; background:#FFFFFF;text-align:center }
.table3 tbody tr.odd td { background-color:#F7F7FF; }
.table3 tfoot td { border:1px solid #C9C9C9; background:#F0EEDE; font-weight:bold; }
.table3 .bold { font-weight:bold; }

.table3_2 th, .table3_2 td { padding: 10px 3px;}
.table3_2 thead th { border:1px solid #C9C9C9; background:#DDECFE; }
.table3_2 tbody th { border:1px solid #C9C9C9; background:#DDECFE; }
.table3_2 tbody td { border:1px solid #C9C9C9; background:#FFFFFF; }
.table3_2 tbody tr.odd td { background-color:#F7F7FF; }
.table3_2 tfoot td { border:1px solid #C9C9C9; background:#F0EEDE; font-weight:bold; }
.table3_2 .bold { font-weight:bold; }


.table3_3 th, .table3_3 td { font-size:8pt;padding: 10px 1px;line-height:110%;}
.table3_3 thead th { border:1px solid #C9C9C9; background:#DDECFE; }
.table3_3 tbody th { border:1px solid #C9C9C9; background:#DDECFE; }
.table3_3 tbody td { border:1px solid #C9C9C9; background:#FFFFFF; }
.table3_3 tbody tr.odd td { background-color:#F7F7FF; }
.table3_3 tfoot td { border:1px solid #C9C9C9; background:#F0EEDE; font-weight:bold; }
.table3_3 .bold { font-weight:bold; }


.table4 th, .table4 td { padding:10px 5px; }
.table4 thead th { border:1px solid #C9C9C9; background:#DDECFE; }
.table4 tbody td { border:1px solid #C9C9C9; background:#FFFFFF; }
.table4 tbody tr.odd td { background-color:#F7F7FF; }
.table4 tfoot td { border:1px solid #C9C9C9; background:#F0EEDE; font-weight:bold; }
.table4 .bold { font-weight:bold; }

.table4_2 th, .table4_2 td { padding:10px 5px; }
.table4_2 thead th { border-top:1px solid #AFAFAF; border-bottom:1px solid #AFAFAF;background:#DDECFE; }
.table4_2 tbody td { border-bottom:1px solid #EBEBEB; background:#FFFFFF; }
.table4_2 tfoot td { border-bottom:1px solid #AFAFAF; background:#FFFFFF; font-weight:bold; }
.table4_2 .bold { font-weight:bold; }

.table5 th, .table5 td { padding:10px 2px 10px 0; }
.table5 thead th { border:1px solid #C9C9C9; background:#DDECFE; }
.table5 tbody td { border:1px solid #C9C9C9; background:#FFFFFF; }
.table5 tbody tr.odd td { background-color:#F7F7FF; }
.table5 tfoot td { border:1px solid #C9C9C9; background:#F0EEDE; font-weight:bold; }
.table5 .bold { font-weight:bold; }

.table6 th, .table6 td { padding: 10px; }
.table6 thead th { border:1px solid #C9C9C9; background:#DDECFE; }
.table6 tbody td { border:1px solid #C9C9C9; }
.table6 tfoot td { border:1px solid #C9C9C9; background:#F0EEDE; font-weight:bold; }
.table6 .bold { font-weight:bold; }

/* WebZine */
.table7 th, .table7 td { padding:3px;text-align:left;padding-left:20px;}
.table7 thead th, tbody th {border:0px solid #dfdfdf;border-left:0px;border-right:0px; }
.table7 tbody td { border:0px solid #dfdfdf;border-left:0px;border-right:0px;padding-left:25px;}
.table7 tfoot td { border:0px solid #dfdfdf; background:#F0EEDE; font-weight:bold; }
.table7 .bold { font-weight:bold; }

.table8 {width:100%;}
.table8 th, .table8 td { padding:3px;text-align:left;padding-left:20px;height:24px;}
.table8 thead th {border:1px solid #dfdfdf;background:#004382;height:34px;font-size:13px;font-weight:bold;color:#ffffff;} 
.table8 tbody th {border:1px solid #dfdfdf;background:#F5F5F5;cursor:pointer;}
.table8 tbody td { border:1px solid #dfdfdf;cursor:pointer;}
.table8 tbody td.contents { border:1px solid #dfdfdf;line-height:180%;padding-left:40px;cursor:text;}
.table8 tfoot td { border:1px solid #dfdfdf;background:#F0EEDE; font-weight:bold; }
.table8 .bold { font-weight:bold; }

.table8_2 {width:100%;}
.table8_2 th, .table8_2 td { padding:3px;text-align:left;padding-left:20px;height:24px;}
.table8_2 thead th {border:1px solid #dfdfdf;background:#004382;height:34px;font-size:13px;font-weight:bold;color:#ffffff;} 
.table8_2 tbody th {border:1px solid #dfdfdf;background:#F5F5F5;}
.table8_2 tbody td { border:1px solid #dfdfdf;}
.table8_2 tbody td.nL { border:1px solid #dfdfdf;border-left:0px;}
.table8_2 tbody td.nR { border:1px solid #dfdfdf;border-right:0px;}
.table8_2 tfoot td { border:1px solid #dfdfdf;background:#F0EEDE; font-weight:bold; }
.table8_2 .bold { font-weight:bold; }

.table8_3 {width:100%;}
.table8_3 th, .table8_3 td { padding:3px;text-align:center;height:24px;vertical-align:top;}
.table8_3 thead th {border:1px solid #dfdfdf;background:#F5F5F5;height:34px;font-size:13px;font-weight:bold;color:#ffffff;}
.table8_3 thead th.nL {border-left:0px;} 
.table8_3 thead th.nR { border-right:0px;}
.table8_3 tbody th {border:1px solid #dfdfdf;background:#F5F5F5;}
.table8_3 tbody td { border:1px solid #dfdfdf;}
.table8_3 tbody td.nL {border-left:0px;}
.table8_3 tbody td.nR { border-right:0px;}
.table8_3 tbody td.t1{border-top:1px solid #004382;}
.table8_3 tbody td.nT{border-top:0px;}
.table8_3 tfoot td { border:1px solid #dfdfdf;background:#F0EEDE; font-weight:bold;vertical-align:middle;text-align:center; }
.table8_3 tfoot td.nL {border-left:0px;}
.table8_3 tfoot td.nR { border-right:0px;}
.table8_3 .bold { font-weight:bold; }

.table8_4 {width:100%;}
.table8_4 th, .table8_4 td { padding:3px;text-align:center;height:24px;vertical-align:middle;}
.table8_4 thead th {border:1px solid #dfdfdf;background:#F5F5F5;height:24px;font-size:13px;font-weight:bold;}
.table8_4 thead th.nL {border-left:0px;} 
.table8_4 thead th.nR { border-right:0px;}
.table8_4 tbody th {border:1px solid #dfdfdf;background:#F5F5F5;}
.table8_4 tbody td { border:1px solid #dfdfdf;}
.table8_4 tbody td.nL {border-left:0px;}
.table8_4 tbody td.nR { border-right:0px;}
.table8_4 tbody td.t1{border-top:1px solid #004382;}
.table8_4 tbody td.nT{border-top:0px;}
.table8_4 tfoot td { border:1px solid #dfdfdf;background:#F0EEDE; font-weight:bold;vertical-align:middle;}
.table8_4 tfoot td.nL {border-left:0px;}
.table8_4 tfoot td.nR { border-right:0px;}
.table8_4 .bold { font-weight:bold; }


.table9 {width:100%;}
.table9 th, .table9 td { padding:3px 5px;text-align:center;height:24px;}
.table9 thead th {border-top:1px solid #004382;border-bottom:1px solid #dfdfdf;background:#f5f5f5; height:24px;font-size:11px;font-weight:bold;}
.table9 tbody th {border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;background:#f5f5f5;}
.table9 tbody td { border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;}
.table9 tbody td.nL {border-left:0px;}
.table9 tbody td.nR { border-right:0px;}
.table9 tfoot td { border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;background:#f5f5f5; font-weight:bold;vertical-align:middle;text-align:left; }
.table9 .bold { font-weight:bold; }
.table9 .L { text-align:left; }
.table9 .R { text-align:right; }

.table9_2 {width:100%;}
.table9_2 th, .table9_2 td { padding:3px 5px;text-align:left;height:24px;}
.table9_2 thead th {border-top:1px solid #004382;border-bottom:1px solid #dfdfdf;background:#f5f5f5; height:24px;font-size:11px;font-weight:bold;}
.table9_2 tbody th {border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;background:#f5f5f5;}
.table9_2 tbody td { border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;}
.table9_2 tbody td.nL {border-left:0px;}
.table9_2 tbody td.nR { border-right:0px;}
.table9_2 tfoot td { border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;background:#f5f5f5; font-weight:bold;vertical-align:middle;text-align:left; }
.table9_2 .bold { font-weight:bold; }

.table9_3 {width:100%;}
.table9_3 th, .table9_3 td { padding:3px 5px;text-align:left;height:24px;}
.table9_3 thead th {border-top:1px solid #004382;border-bottom:1px solid #dfdfdf;background:#f5f5f5; height:24px;font-size:11px;font-weight:bold;}
.table9_3 tbody th {border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;background:#f5f5f5;}
.table9_3 tbody td {border-bottom:1px solid #dfdfdf;cursor:pointer;line-height:180%;}
.table9_3 tbody td.nL {border-left:0px;}
.table9_3 tbody td.nR { border-right:0px;}
.table9_3 tfoot td { border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;background:#f5f5f5; font-weight:bold;vertical-align:middle;text-align:left; }
.table9_3 .bold { font-weight:bold; }

.table9_4 {width:100%;}
.table9_4 th, .table9_4 td { padding:3px 5px;text-align:center;height:24px;}
.table9_4 thead th {border-top:1px solid #004382;border-bottom:1px solid #dfdfdf;background:#f5f5f5; height:24px;font-size:11px;font-weight:bold;}
.table9_4 tbody th {border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;background:#f5f5f5;}
.table9_4 tbody td { border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;text-align:left;padding:0 15px;}
.table9_4 tbody td.nL {border-left:0px;}
.table9_4 tbody td.nR { border-right:0px;}
.table9_4 tfoot td { border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;background:#f5f5f5; font-weight:bold;vertical-align:middle;text-align:left; }
.table9_4 .bold { font-weight:bold; }

.table9_5 {width:100%;}
.table9_5 th, .table9_5 td { padding:3px 2px;text-align:center;height:24px;}
.table9_5 thead th {border-top:1px solid #004382;height:0px;font-size:0px;padding:0px;}
.table9_5 thead td {border-bottom:1px solid #dfdfdf;border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;background:#f5f5f5; height:24px;font-size:12px;}
.table9_5 thead td.nL {border-left:0px;}
.table9_5 thead td.nR {border-right:0px;}
.table9_5 tbody th {border:1px solid #dfdfdf;background:#f5f5f5;}
.table9_5 tbody th.nL {border-left:0px;}
.table9_5 tbody td {border:1px solid #dfdfdf;text-align:center;}
.table9_5 tbody td.L {text-align:left;padding:0 10px;}
.table9_5 tbody td.nL {border-left:0px;}
.table9_5 tbody td.nR { border-right:0px;}
.table9_5 tfoot th { border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;background:#f5f5f5;vertical-align:middle;text-align:left; }
.table9_5 .bold { font-weight:bold; }

/* MarkLab 기본 스타일 */
.table10 th, .table10 td { padding:4px 2px; }
.table10 thead th { border:1px solid #f4021b;background:#f4021b;padding:0px;height:1.5px;font-size:1px;}
.table10 thead td { border:1px solid #C9C9C9; background:url('/img/bg/bg_table_title.jpg') repeat-x;text-align:center }
.table10 tbody th { border:1px solid #C9C9C9; background:#D4D4D4;text-align:center }
.table10 tbody td { border:1px solid #C9C9C9; background:#FFFFFF; }
.table10 tbody tr.odd td { background-color:#F7F7FF; }
.table10 tfoot td { border:1px solid #C9C9C9; background:#4D4D4D; font-weight:bold; }
.table10 .bold { font-weight:bold; }

/* MarkLab */
.table10_1 th, .table10_1 td { padding:7px 2px; }
.table10_1 thead th { border-top:1px solid #f4021b;border-bottom:1px solid #f4021b;background:#f4021b;padding:0px;height:1.5px;font-size:1px;}
.table10_1 thead td { border-top:1px solid #C9C9C9;border-bottom:1px solid #C9C9C9; background:url('/img/bg/bg_table_title.jpg') repeat-x;text-align:center;font-weight:bold;}
.table10_1 tbody th { border-top:1px solid #C9C9C9;border-bottom:1px solid #C9C9C9; background:#D4D4D4;text-align:center }
.table10_1 tbody td { border-top:1px solid #C9C9C9;border-bottom:1px solid #C9C9C9; background:#FFFFFF; }
.table10_1 tbody tr.odd td { background-color:#F7F7FF; }
.table10_1 tfoot td { border-top:1px solid #C9C9C9;border-bottom:1px solid #C9C9C9; background:#4D4D4D; font-weight:bold; }
.table10_1 .bold { font-weight:bold; }

/* MarkLab */
.table10_2 th, .table10_2 td { padding:5px 2px; }
.table10_2 thead th { border-top:0px solid #f4021b;border-bottom:0px solid #f4021b;background:#f4021b;padding:0px;height:1.5px;font-size:0px;}
.table10_2 thead td { border-top:0px solid #C9C9C9;border-bottom:0px solid #C9C9C9; background:url('/img/bg/bg_table_title.jpg') repeat-x;text-align:center;font-weight:bold;}
.table10_2 tbody th { border-top:0px solid #C9C9C9;border-bottom:0px solid #C9C9C9; background:#D4D4D4;text-align:center }
.table10_2 tbody td { border-top:0px solid #C9C9C9;border-bottom:0px solid #C9C9C9; background:#FFFFFF; }
.table10_2 tbody tr.odd td { background-color:#F7F7FF; }
.table10_2 tfoot td { border-top:0px solid #C9C9C9;border-bottom:0px solid #C9C9C9; background:#4D4D4D; font-weight:bold; }
.table10_2 .bold { font-weight:bold; }

/* MarkLab */
.table10_3 th, .table10_3 td { padding:8px 2px; }
.table10_3 thead th { border:1px solid #f4021b;background:#f4021b;padding:0px;height:1.5px;font-size:1px;}
.table10_3 thead td { border:1px solid #C9C9C9; background:url('/img/bg/bg_table_title.jpg') repeat-x;text-align:center;font-weight:bold; }
.table10_3 thead td.basic{ border:1px solid #C9C9C9; text-align:center;background:#ffffff;font-weight:normal;}
.table10_3 tbody th { border:1px solid #C9C9C9; background:#D4D4D4;text-align:center }
.table10_3 tbody td { border:1px solid #C9C9C9; background:#FFFFFF; }
.table10_3 tbody tr.odd td { background-color:#F7F7FF; }
.table10_3 tfoot td { border:1px solid #C9C9C9;}
.table10_3 .bold { font-weight:bold; }
