@import html {
    height: 100%;
}


body {
    font-family: 'Arial', '맑은고딕';
}

/* Container ----------------------------------*/
.content {
    position: relative;
    max-width: 1920px;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 70px;
}

section {
    max-width: 1920px;
}


/* Header ----------------------------------*/
header {
    height: 90px;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.829);
    position: fixed;
    z-index: 1;
}

.header-box {
    position: relative;
    width: 1100px;
    margin: auto;
    height: inherit;
    z-index: 1;
}

/* Logo ----------------------------------*/
.logo {
    float: left;
    margin-right: 80px;
    margin-top: 22px;
}

.logo img {
    width: 100px;
}

/* Nav ----------------------------------*/
.gnb {
    width: 61%;
    float: left;
    margin-top: 30px;
}

.gnb>li {
    float: left;
    position: relative;
}

.gnb>li>a {
    display: block;
    padding: 10px 17px;
    position: relative;
    color: white;
    transition: 0.2s;
    font-size: 16.5px;
    font-weight: 600;
}

.gnb>li:hover>a {
    color: crimson;
    background-color: white;
}

.gnb>li>a:after {
    content: '';
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    left: 50%;
    height: 2px;
    width: 0;
    background-color: crimson;
    transition: 0.4s;
}

.gnb>li:hover>a:after {
    width: 100%;
}

/* Submenu ----------------------------------*/
.gnb-submenu {
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
    position: absolute;
    top: 36px;
    left: 0;
    width: 160px;
    border-top: none;
    padding-top: 15px;
    background-color: white;
    padding-bottom: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.295);
}

.gnb-submenu>li>a,
.submenu-list>li>a {
    display: block;
    font-size: 14px;
    padding: 10px;
}

.gnb-submenu>li>a:hover {
    color: crimson;
    transition: 0.2s;
}

.gnb>li:hover>.gnb-submenu {
    visibility: visible;
    opacity: 1;
}

.gnb>li:nth-child(1)>.gnb-submenu {
    padding-top: 20px;
    width: 600px;
    padding-bottom: 20px;
}

.gnb>li:nth-child(4)>.gnb-submenu,
.gnb>li:nth-child(6)>.gnb-submenu {
    width: 110px;
}

.gnb>li:nth-child(3)>.gnb-submenu {
    width: 100%;
}

.gnb>li:nth-child(5)>.gnb-submenu {
    width: 100px;
}

.submenu-list>li>a:hover {
    color: crimson;
    transition: 0.2s;
}

.submenu-list span {
    display: block;
    margin-bottom: 10px;
    margin-left: 10px;
}

.submenu-list hr {
    border: none;
    height: 2px;
    background-color: gray;
    width: 80%;
}

.submenu-list {
    width: 170px;
    float: left;
    margin: 0 15px;
}

/* Aside ----------------------------------*/
.aside {
    float: right;
    margin-top: 32px;
    color: rgba(255, 255, 255, 0.534);
}

.aside a,
.aside span {
    float: left;
    font-size: 14px;
    padding: 10px 5px;
}

.aside a:hover {
    color: white;
}

/* Finder ----------------------------------*/
.btn-finder {
    position: absolute;
    margin-bottom: 8px;
    right: 0;
    top: 100%;
    padding: 10px 15px 10px 96px;
    font-size: 14px;
    background-color: crimson;
    color: white;
    cursor: pointer;
}

.fa-search {
    padding-left: 10px;
}

/* Title ----------------------------------*/
.title {
    width: 100%;
    height: 827px;
    background: url(../image/title-bgc-01.jpg) no-repeat center center;
    padding-top: 90px;
}

.title-heading {
    width: 500px;
    color: white;
    margin-top: 225px;
    margin-left: 164px;
}

.title-heading h2 {
    /* line-height: 1.5em; */
    height: 40px;
    font-size: 27px;
    color: rgba(255, 255, 255, 0.617);
    overflow: hidden;
}

.title-heading h2>span {
    animation: intro-01 0.7s 0.8s;
    animation-fill-mode: both;
    display: block;
    transform: translateY(-10px);
}

.title-heading h3 {
    font-size: 51px;
    color: white;
    overflow: hidden;
    line-height: 1.2em;
}

.title-heading h3>span {
    display: block;
    line-height: 70px;
    animation: intro-01 0.9s 0.3s;
    animation-fill-mode: both;
}

.title-heading a {
    display: inline-block;
    padding: 17px 45px;
    border: 1px solid;
    margin-top: 20px;
    transition: 0.2s;
    animation: intro-02 1s 0.7s;
    animation-fill-mode: both;
}

.title-heading a:hover {
    background-color: crimson;
    border: 1px solid transparent;
}

/* Title Animation ----------------------------------*/

@keyframes intro-01 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes intro-02 {
    0% {
        transform: translateX(-30%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

/* Main ----------------------------------*/
main {
    position: relative;
}

main:before {
    padding-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    height: 120px;
    width: 50%;
    border-right: 1.5px solid rgba(128, 128, 128, 0.541);
    margin-top: 30px;
}

/* Issues ----------------------------------*/
.issues {
    position: relative;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 30px;
    width: 1440px;
    text-align: center;
}

.issues:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: rgb(123, 134, 159);
    left: 0;
    bottom: 0;
}

.issues h2 {
    font-size: 30px;
    letter-spacing: 1px;
}

.issues h2+p {
    font-size: 15px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.631);
    margin-top: 15px;
}

.issues-items {
    width: 1100px;
    height: 595px;
    margin: 0 auto;
}

.issues-items li {
    margin-top: 15px;
    float: left;
    width: calc(100% / 3);
    transition: 0.5s;
}

.issues-items li:hover {
    transform: translateY(-15px);
}

.issues-items li:hover>a {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.479);
}

.issues-items li a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.727);
    opacity: 0;
    /*! z-index: 10; */
}

.issues-items li a:hover:after {
    opacity: 1;
}

.issues-items li a:hover>.btn-view {
    opacity: 1;
}

.issues-items li:nth-child(2) {
    margin-top: 50px;
}

.issues-items li a {
    display: block;
    padding-bottom: 30px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.39);
    position: relative;
    background-color: white;
    transition: 0.3s;
}

.issues-items li a h3 {
    padding: 30px 0 15px;
    font-size: 18px;
}

.issues-items li a h3+p {
    line-height: 1.3em;
}

.issues-items li:nth-child(1)>a {
    margin: 0 10px;
}

.issues-items li:nth-child(2)>a {
    margin: 0 10px;
}

.issues-items li:nth-child(3)>a {
    margin: 0 10px;
}

.btn-view {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    color: white;
    z-index: 3;
    opacity: 0;
    transition: 0.3s;
}

.card-image {
    width: 100%;
    height: 350px;
    overflow: hidden;
    background-color: #eee;
    background: url(../image/issues-01.jpg) no-repeat center center;
    background-size: cover;
}

.issues-items>li:nth-child(2) .card-image {
    background-image: url(../image/issues-02.jpg);
}

.issues-items>li:nth-child(3) .card-image {
    background-image: url(../image/issues-03.jpg);
}

/* Issue animation ----------------------------------*/
@keyframes issue {
    0% {
        transform: translateX()
    }

    100% {}
}

/* Office ----------------------------------*/
.office {
    padding: 180px 0px 150px;
}

.office article {
    height: 300px;
    width: 1100px;
    margin: 0 auto;
    padding: 40px 60px;
    background: url(../image/office.png) no-repeat center center;
    background-size: 100%;
}

.office article h2 {
    font-size: 30px;
    margin-top: 45px;
}

.office article h2+p {
    line-height: 1.5em;
    margin: 10px;
}

.office article a {
    padding: 15px 40px;
    display: inline-block;
    margin-top: 20px;
    background-color: rgb(32, 33, 52);
    border-radius: 5px;
    color: white;
    transition: 0.15s;
}

.office article a:hover {
    background-color: white;
    color: black;
}

/* Portfolio ----------------------------------*/
.portfolio {
    overflow: hidden;
    padding-bottom: 15px;
    position: relative;
}

.portfolio-bgc {
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: rgb(123, 134, 159);
    left: 0;
    bottom: 10%;
}

.more {
    display: block;
    padding: 10px 30px;
    font-size: 17px;
    margin: 10px 0;
    float: right;
    border: none;
    border: 1.2px solid black;
    background-color: transparent;
    transition: 0.2s;
    margin-bottom: 30px;
}

.more:hover {
    background-color: black;
    color: white;
}

.portfolio-header {
    overflow: hidden;
    margin: 0 auto;
    width: 1100px;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
}

.portfolio-header h2 {
    position: relative;
}

.portfolio-header h2+p {
    font-size: 15px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.631);
    margin-top: 15px;
}

.portfolio-header h2:before,
.portfolio-header h2:after {
    position: absolute;
    content: '';
    top: 50%;
    width: 40%;
    height: 1.2px;
    background-color: gray;
}

.portfolio-header h2:before {
    left: 0;
}

.portfolio-header h2:after {
    right: 0;
}

.p-items {
    width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    /* box-shadow: 0 8px 7px rgba(0, 0, 0, 0.623); */
}

.p-item {
    width: calc(100% / 3);
    height: 350px;
    float: left;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.623);
}

.p-item:nth-child(1),
.p-item:nth-child(2),
.p-item:nth-child(3) {
    margin-top: 0;
}

.p-item a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.808);
    color: white;
    text-align: center;
    vertical-align: center;
    opacity: 0;
    transition: 0.2s;
}

.p-item a span {
    line-height: 350px;
    font-size: 25px;
}

.p-item:hover>a {
    opacity: 1;
}


/* Showroom ----------------------------------*/
.showroom {
    text-align: center;
    position: relative;
}

.showroom:before {
    content: '';
    display: block;
    height: 120px;
    width: 50%;
    border-right: 1.5px solid rgba(128, 128, 128, 0.541);
    margin: 50px 0 40px;
}

.showroom-heading {
    text-align: center;
    padding: 20px;
    padding-bottom: 40px;
}

.showroom-heading h2 {
    font-size: 30px;
}

.showroom-heading h2+p {
    font-size: 15px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.631);
    margin-top: 15px;
}

.showroom input {
    display: none;
}

.showroom-btn {
    margin: 0 auto;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 20px;
}

.showroom-btn label,
.showroom-btn>a {
    float: left;
    padding: 0 20px;
    cursor: pointer;
    padding: 5px 30px;
    border-right: 1px solid;
}

.showroom-btn label:nth-child(6) {
    border: none;
}

.showroom-btn>a {
    border: none;
    border: 1px solid gray;
    box-sizing: border-box;
}

.showroom-btn>a:hover {
    background-color: rgb(32, 33, 52);
    color: white;
}

.showroom-box {
    margin: 0 auto;
    width: 1100px;
    height: 500px;
    position: relative;
}

.showroom-box .content {
    width: 1100px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.showroom input[id=tab1]:checked~.showroom-btn label[for=tab1],
.showroom input[id=tab2]:checked~.showroom-btn label[for=tab2],
.showroom input[id=tab3]:checked~.showroom-btn label[for=tab3],
.showroom input[id=tab4]:checked~.showroom-btn label[for=tab4],
.showroom input[id=tab5]:checked~.showroom-btn label[for=tab5],
.showroom input[id=tab6]:checked~.showroom-btn label[for=tab6] {
    background-color: rgb(32, 33, 52);
    border: 1px solid rgb(32, 33, 52);
    ;
    color: white;
}

.showroom input[id=tab1]:checked~.showroom-box .slide1,
.showroom input[id=tab2]:checked~.showroom-box .slide2,
.showroom input[id=tab3]:checked~.showroom-box .slide3,
.showroom input[id=tab4]:checked~.showroom-box .slide4,
.showroom input[id=tab5]:checked~.showroom-box .slide5,
.showroom input[id=tab6]:checked~.showroom-box .slide6 {
    opacity: 1;
    visibility: visible;
}

.slide3 img {
    transform: translate(-100px, 30px);
}

.slide5 img {
    transform: translate(-250px, -50px);
    width: 1650px;
}

.slide6 img {
    transform: translate(-230px, -50px);
}

/* Casw study ----------------------------------*/
.case-study {
    text-align: center;
    margin-top: 120px;
    background-color: rgba(128, 128, 128, 0.205);
    padding-top: 55px;
}

.c-heading {
    overflow: hidden;
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

.c-more {
    display: block;
    padding: 10px 30px;
    font-size: 17px;
    border: none;
    border: 1.2px solid black;
    background-color: transparent;
    transition: 0.2s;
    margin-bottom: 30px;
    position: absolute;
    top: 0;
    right: 0;
}

.c-more:hover {
    background-color: black;
    color: white;
}

.c-heading h2 {
    font-size: 30px;
}

.c-heading h2+p {
    font-size: 15px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.631);
    margin-top: 15px;
}

.c-items {
    margin: 0 auto;
    padding: 50px 0;
    height: 510px;
}

.c-item {
    box-sizing: border-box;
    float: left;
    width: calc(100% / 3);
    height: 300px;
    position: relative;
}

.c-item>img {
    width: 100%;
    height: 100%;
    z-index: 20;
    transition: 0.3s;
}

.c-item a {
    opacity: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.781);
    width: 100%;
    height: 100%;
    transition: 0.3s;
    /*! z-index: 10; */
}

.c-item a>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c-item:hover>a {
    opacity: 1;
}

.c-item .desc {
    z-index: 15;
    margin-top: 30px;
}

.c-item .desc h3 {
    font-size: 20px;
}

.c-item .desc p {
    margin-top: 20px;
}

/* News ----------------------------------*/
.news {
    padding-top: 100px;
}

.news article {
    background-color: rgba(128, 128, 128, 0.164);
    padding: 30px;
}

.n-heading {
    overflow: hidden;
    width: 1100px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding-bottom: 30px;
}

.n-more {
    display: block;
    padding: 10px 30px;
    font-size: 17px;
    border: none;
    border: 1.2px solid black;
    background-color: transparent;
    transition: 0.2s;
    margin-bottom: 30px;
    position: absolute;
    top: 0;
    right: 0;
}

.n-more:hover {
    background-color: black;
    color: white;
}

.n-heading h2 {
    font-size: 30px;
}

.n-heading h2+p {
    font-size: 15px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.631);
    margin-top: 15px;
}

.news-box {
    width: 1100px;
    margin: 0 auto;
    padding: 30px;
}

.n-item {
    padding: 10px;
}

.n-item h4 {
    display: inline-block;
    width: 15%;
}

.n-item a {
    display: inline-block;
    width: 60%;
}

.n-item a:hover {
    text-decoration: underline;
}

.n-item span {
    display: inline-block;
    width: 15%;
    text-align: right;
    float: right;
}

/* Blog ----------------------------------*/
.blog {
    background: url(../image/blog.jpg) no-repeat center -100px;
    height: 500px;
    padding-top: 100px;
    position: relative;
}

.blog:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.658);
}

.blog-box {
    position: relative;
    border: 1px solid;
    width: 40%;
    margin: 0 auto;
    padding: 50px 20px;
    color: white;
    text-align: center;
}

.blog-box h3 {
    color: white;
    font-size: 35px;
    line-height: 1.5em;
}

.blog-box a {
    background-color: crimson;
    padding: 15px 40px;
    display: inline-block;
    margin-top: 30px;
    transition: 0.3s;
}

.blog-box a:hover {
    background-color: white;
    color: black;
}

/* background-color: rgb(32, 33, 52) */

/* Footer ----------------------------------*/
footer {
    /* background-color: rgb(32, 33, 52); */
}

.footer-box {
    /* color: white; */
    overflow: hidden;
    width: 1100px;
    margin: 0 auto;
}

.footer-box .row {
    float: left;
    font-size: 13px;
    padding: 40px 0 60px;
    padding-right: 60px;
}

.footer-box .row:last-child {
    float: right;
}

.footer-box .row p,
.footer-box .row a {
    line-height: 2.8em;
}

.footer-box .row a {
    display: block;
}

.footer-box .row a {
    text-decoration: underline;
}

.footer-box .row span {
    /* font-weight: 700; */
    color: orange;
}

.footer-box .row:nth-child(4) {
    padding-right: 0;
}

/* Logo-list ----------------------------------*/
.logo-list {
    position: relative;
    overflow: hidden;
    padding-top: 40px;
}

.logo-list:before {
    content: '';
    position: absolute;
    height: 1px;
    background-color: gray;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.items {
    width: 1100px;
    margin: 0 auto;
    overflow: hidden;
}

.logo-items {
    float: left;
}

.logo-items img {
    margin-right: 20px;
}

.logo-list .right {
    float: right;
    overflow: hidden;
}

.logo-list .right img {
    margin-right: 10px;
}

.icon {
    float: left;
}

.select-family-site {
    float: right;
    padding: 12px 20px;
    border: none;
    margin-left: 25px;
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
}

/* Chatbot ----------------------------------*/
.btn-chatbot {
    transform: scale(0.2);
    position: fixed;
    bottom: -50px;
    right: -100px;
}

/* Go-Top ----------------------------------*/
.btn-top {
    transform: scale(0.2);
    position: fixed;
    bottom: 15px;
    right: -100px;
}

/* Click-this ----------------------------------*/
.click-this {
    position: absolute;
    width: 300px;
    top: 90px;
    right: -63px;
    background-color: red;
}

/* Video ----------------------------------*/
.introduction-video iframe {
    display: none;
    margin: 0 auto;
}